/*
	Imports
*/
/*
@import 'fonts.css';
*/


/*
	General
*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/*
	scrollbar-width: thin;
	*/
	text-decoration: none;

	font-family: "Montserrat", sans-serif;
	transition: all 250ms ease-in-out;
}
html {
	overflow: hidden;
}
html, body {
	width: 100%;
	height: 100%;
	min-height: 100vh;
}

#appContainer {
	width: 100%;
	height: calc(100% - 3.1vh);
	margin-bottom: 3.1vh;

	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;

	background-color: #EFEFEF;
}

#appControls {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 50vh;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(5, 1fr);
	/*
	grid-template-rows:  repeat(3, 11vh);
	*/
	align-content: stretch;
	justify-items: center;

	background-color: rgba(61, 61, 61, 0.75);
	color: white;

}
#appControls.closed {
	bottom: -47vh;
}
#appControls::after {
	content: "▲";
	position: absolute;
	top: 0;
	font-weight: bold;
	width: 100%;
	text-align: center;
	background-color: rgba(61, 61, 61, 0.75);
}
#appControls > .appControl {
	display: flex;
	flex-direction: column;
	margin: 1.5rem 1rem .5rem 1rem;
	grid-row: 1 / 5;
}
#appControls .appControl input {
	border-radius: 1rem;
	border-radius: 0.25rem;
	padding-left: 0.5rem;
	text-align: center;
}
#appControls .appControl input[type=button] {
	font-weight: bold;
	font-size: 1.5rem;
	padding: 0;
	line-height: 1rem;
	color: rgb(255, 59, 59);
}
#appControls .appInfo {
	flex: 1;
	overflow: hidden auto;
	background-color: rgba(125, 125, 125, 0.8);
}
#appControls .appInfo p {
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	padding: .15rem;
}
#appControls .appInfo p:hover::after {
	content: "🞭";
	float: right;
	line-height: 100%;
}
#appControls .appInfo p:nth-child(2n + 1) {
	background-color: rgba(150, 150, 150, 0.8);
}
#appControls .appInput {
	display: grid;
	grid-template-areas:
		'n1 b'
		'n2 b';
	grid-gap: .5rem;
	align-content: center;
	justify-content: stretch;
	padding-top: .5rem;
	border-top: dashed 1px #EFEFEF;
}
@media screen and (max-width: 550px) {
	#appControls .appInput {
		display: grid;
		grid-template-areas:
			'n1'
			'n2'
			'b';
		grid-gap: .5rem;
		align-content: center;
		justify-content: stretch;
		padding-top: .5rem;
		border-top: dashed 1px #EFEFEF;
	}
}
#appControls .appInput input {
	height: 1.5rem;
}
#appControls .appInput input[type=number]:nth-child(1) {
	grid-area: n1;
}
#appControls .appInput input[type=number]:nth-child(2) {
	grid-area: n2;
}
#appControls .appInput input[type=button] {
	grid-area: b;
	min-height: 1.5rem;
	min-width: 3rem;
	height: 100%;
	width: 100%;
}
#appControls #result {
	grid-column: 1 / 3;
	width: 100%;
	height: 100%;
	display: flex;
}
#appControls #result input {
	flex: 1;
	background-color: rgb(255, 59, 59);
	font-weight: bold;
	color: #FFFFFF;
}